@media screen and (max-width: 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "COCOGOOSE", sans-serif;
    font-family: "Lato", sans-serif;
  }

  .hello-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.2);
  }

  .hello-header {
    display: flex;
    justify-content: start;
    padding-left: 5%;
    padding-top: 0;
    width: 100%;
    background-image: url("./assets/images/header-background2.png");
    background-size: 80%;
    background-repeat: repeat-x;
    background-position: center;
    padding-bottom: 50px;
  }

  .menu-image {
    height: 50px;
    width: 50px;
    padding-top: 3%;
    cursor: pointer;
  }

  .menu-appear {
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    min-height: 800px;
    background-color: rgba(211, 211, 211, 0.2);
  }
  .menu-open {
    display: flex;
  }

  .disappear {
    display: none;
  }

  .close-menu {
    font-size: 30px;
    color: #ec5242;
    margin-top: 0;
    margin-right: 3%;
    cursor: pointer;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    width: 90%;
    padding-top: 4%;
    background-color: rgba(211, 211, 211, 0.4);
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 4%;
    padding-inline-start: 0;
  }

  .menu-li {
    text-decoration: none;
    color: #272a31;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 15px;
    font-family: "COCOGOOSE", sans-serif;
  }

  .hello-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7%;
    padding-right: 10%;
  }

  .sub-heading {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ec5242;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .hello-heading {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 50px;
    color: #ec5242;
    margin-top: 0;
    padding-right: 7%;
    background-image: url("./assets/images/hello-text-background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .hello-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-left: 3%;
    color: #272a31;
    border: solid 2px white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
  }

  .hello-time {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 30px;
    color: #272a31;
    margin-bottom: 0;
    margin-top: 0;
  }

  #location-text {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    color: #272a31;
    margin-top: 0;
    padding-bottom: 100px;
    padding-right: 100px;
    background-image: url("./assets/images/location-background.png");
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272a31;
    background-image: url("./assets/images/x-background.png");
  }

  .program-heading {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: white;
    border-bottom: #ec5242 solid 2px;
    margin-top: 30px;
    padding-bottom: 15px;
  }

  .program-partion {
    display: flex;
    justify-content: start;
    align-content: center;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  .partion-img {
    align-self: flex-start;
    padding-top: 9%;
  }

  .partion-heading {
    color: #ec5242;
    text-align: center;
    padding-top: 7%;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 16px;
  }

  .partion-text {
    color: white;
    line-height: 25px;
    text-align: left;
    font-family: "Lato", sans-serif;
  }

  .program-button {
    text-decoration: none;
    color: white;
    background-color: #ec5242;
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    border: #ec5242 solid 2px;
  }

  .program-button:hover {
    border: solid 2px gray;
    border-radius: 1px;
  }

  .About {
    background-color: rgba(211, 211, 211, 0.2);
  }

  #about-image {
    padding: 3%;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sub-about {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #ec5242;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .about-heading {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 50px;
    color: #ec5242;
    margin-top: 0;
    padding-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    text-align: center;
  }

  .about-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-left: 3%;
    color: #272a31;
    border: solid 2px white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    text-align: center;
    background-color: white;
    margin: 5%;
    padding: 3%;
  }

  .booking {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
  }

  .booking-email {
    color: #272a31;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    padding-bottom: 50px;
  }

  .logo-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 28px;
    background-image: url("./assets/images/orange-line.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    text-align: center;
    color: #272a31;
  }

  .logo-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
  }

  .logo-link {
    width: 90%;
    text-align: center;
    border: solid 2px #d3d3d3;
    padding: 30px 15px;
  }

  .previous-parties {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 2px solid #d3d3d3;
    padding-left: 5%;
    padding-right: 5%;
  }

  .previous-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 28px;
    background-image: url("./assets/images/orange-line.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    text-align: center;
    color: #272a31;
    margin-bottom: 5px;
  }

  .previous-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
    margin-top: 0;
  }

  .party-2019 {
    font-size: 25px;
    text-align: center;
    color: white;
    background-image: url("./assets/images/party-2019.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    min-width: 600px;
    min-height: 395px;
    padding-top: 150px;
  }

  .party-2018 {
    font-size: 30px;
    text-align: center;
    color: white;
    background-image: url("./assets/images/party-2018.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    min-width: 600px;
    min-height: 395px;
    padding-top: 150px;
  }
}
