@media screen and (max-width: 767px) {
  .upper {
    display: none;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "COCOGOOSE", sans-serif;
    font-family: "Lato", sans-serif;
  }

  .hello-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.2);
  }

  .hello-header {
    display: flex;
    justify-content: start;
    padding-left: 5%;
    padding-top: 0;
    background-image: url("./assets/images/header-background2.png");
    background-size: 80%;
    background-repeat: repeat-x;
    background-position: center;
    padding-bottom: 50px;
  }

  .menu-image {
    height: 50px;
    width: 50px;
    padding-top: 3%;
    cursor: pointer;
  }

  .menu-appear {
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    min-height: 800px;
    background-color: rgba(211, 211, 211, 0.2);
  }
  .menu-open {
    display: flex;
  }

  .disappear {
    display: none;
  }

  .close-menu {
    font-size: 30px;
    color: #ec5242;
    margin-top: 0;
    margin-right: 3%;
    cursor: pointer;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    width: 90%;
    padding-top: 4%;
    background-color: rgba(211, 211, 211, 0.4);
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 4%;
    padding-inline-start: 0;
  }

  .menu-li {
    text-decoration: none;
    color: #272a31;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 15px;
    font-family: "COCOGOOSE", sans-serif;
  }

  #logo-header {
    display: none;
  }

  .hello-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7%;
    padding-right: 10%;
  }

  .sub-heading {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ec5242;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .hello-heading {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 50px;
    color: #ec5242;
    margin-top: 0;
    padding-right: 7%;
    background-image: url("./assets/images/hello-text-background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .hello-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-left: 3%;
    color: #272a31;
    border: solid 2px white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
  }

  .hello-time {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 30px;
    color: #272a31;
    margin-bottom: 0;
    margin-top: 0;
  }

  #location-text {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    color: #272a31;
    margin-top: 0;
    padding-bottom: 100px;
    padding-right: 100px;
    background-image: url("./assets/images/location-background.png");
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272a31;
    background-image: url("./assets/images/x-background.png");
  }

  .program-heading {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: white;
    border-bottom: #ec5242 solid 2px;
    margin-top: 30px;
    padding-bottom: 15px;
  }

  .program-partion {
    display: flex;
    justify-content: start;
    align-content: center;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  .partion-img {
    align-self: flex-start;
    padding-top: 9%;
  }

  .partion-heading {
    color: #ec5242;
    text-align: center;
    padding-top: 7%;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 16px;
  }

  .partion-text {
    color: white;
    line-height: 25px;
    text-align: left;
    font-family: "Lato", sans-serif;
  }

  .program-button {
    text-decoration: none;
    color: white;
    background-color: #ec5242;
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    border: #ec5242 solid 2px;
  }

  .program-button:hover {
    border: solid 2px gray;
    border-radius: 1px;
  }

  .stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .stars-title {
    font-size: 50px;
    font-family: "Lato", sans-serif;
    background-image: url("./assets/images/orange-line.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 40px;
    color: #272a31;
  }

  .star-card {
    display: flex;
    gap: 3%;
    width: 545px;
  }

  .star-photo {
    height: 150px;
    max-width: 170px;
    padding-left: 15px;
    padding-top: 15px;
    background-image: url("./assets/images/chess-board.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 35%;
    align-items: stretch;
  }

  .star-name {
    font-family: "Lato", sans-serif;
    font-size: 26px;
    margin-top: 0;
    color: #272a31;
  }

  .star-description {
    font-family: "Lato", sans-serif;
    color: #ec5242;
    padding-bottom: 20px;
    margin: 0;
    background-image: url("./assets/images/grey-line.png");
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  .star-program {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #272a31;
  }

  .About {
    background-image: url("./assets/images/background1.png");
    background-size: contain;
    background-position: center;
  }

  #about-image {
    padding: 3%;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sub-about {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #ec5242;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .about-heading {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 50px;
    color: #ec5242;
    margin-top: 0;
    padding-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    text-align: center;
  }

  .about-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-left: 3%;
    color: #272a31;
    border: solid 2px white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    text-align: center;
    background-color: white;
    margin: 5%;
    padding: 3%;
  }

  .booking {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
  }

  .booking-email {
    color: #272a31;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    padding-bottom: 50px;
  }

  .logo-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 28px;
    background-image: url("./assets/images/orange-line.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    text-align: center;
    color: #272a31;
  }

  .logo-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
  }

  .logo-link {
    width: 90%;
    text-align: center;
    border: solid 2px #d3d3d3;
    padding: 30px 15px;
    max-height: 400px;
  }

  .party-logo {
    height: 150px;
    width: 300px;
  }

  .previous-parties {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 2px solid #d3d3d3;
    padding-left: 5%;
    padding-right: 5%;
  }

  .previous-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 28px;
    background-image: url("./assets/images/orange-line.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    text-align: center;
    color: #272a31;
    margin-bottom: 5px;
  }

  .previous-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
    margin-top: 0;
  }

  .party-2019 {
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("./assets/images/party-2019.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 600px;
    min-height: 395px;
    margin: 0;
  }

  .party-2018 {
    font-size: 50px;
    text-align: center;
    color: white;
    background-image: url("./assets/images/party-2018.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 600px;
    min-height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: 0;
  }

  span {
    font-weight: 300;
    font-size: 30px;
  }

  .sponsors {
    background-color: rgba(39, 42, 49, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sponsors-title {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    color: white;
    border-bottom: #ec5242 solid 2px;
    padding: 10px;
  }

  .sponsors-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0;
    gap: 100px;
    margin: 0;
  }

  .mazzika-logo {
    height: 150px;
    width: 150px;
  }

  .melody-logo {
    height: 120px;
    width: 120px;
  }

  .about-footer {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
  }

  .footer-text {
    font-size: 16px;
    color: #272a31;
    font-family: "Lato", sans-serif;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "COCOGOOSE", sans-serif;
    font-family: "Lato", sans-serif;
  }

  .upper {
    display: flex;
    justify-content: end;
    gap: 30px;
    background-color: #272a31;
    padding-right: 12%;
  }

  .upper-link {
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    text-decoration: none;
  }

  .icon1 {
    height: 50px;
    width: 50px;
  }

  .hello-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hello-header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
  }

  .party-logo1 {
    height: 90px;
    width: 90px;
    cursor: pointer;
    border: none;
  }

  .menu-image {
    display: none;
  }

  .menu-appear {
    display: flex;
    align-items: center;
  }

  .close-menu {
    display: none;
  }

  .navigation {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 70px;
    width: 100%;
  }
  .navigation > li > a {
    display: flex;
    align-items: center;
    width: fit-content;
    min-height: 50px;
    text-decoration: none;
    color: #272a31;
  }

  .navigation > li > a:hover {
    color: #ec5242;
  }

  .hello-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 4%;
    background-image: url("./assets/images/wegz.jpeg");
  }

  .sub-heading {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ec5242;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .hello-heading {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 50px;
    color: #ec5242;
    margin-top: 0;
    padding-right: 7%;
    background-image: url("./assets/images/hello-text-background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .hello-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-left: 3%;
    color: #272a31;
    border: solid 2px white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: rgb(245, 245, 245);
  }

  .hello-time {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 30px;
    color: #272a31;
    margin-bottom: 0;
    margin-top: 0;
  }

  #location-text {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    color: #272a31;
    margin-top: 0;
    padding-bottom: 100px;
    padding-right: 100px;
  }

  .party-logo {
    height: 150px;
    width: 300px;
  }

  .program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272a31;
    background-image: url("./assets/images/x-background.png");
  }

  .program-heading {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: white;
    border-bottom: #ec5242 solid 2px;
    margin-top: 30px;
    padding-bottom: 15px;
  }

  .program-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 5%;
    height: 100%;
  }

  .program-partion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    gap: 10px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 5%;
    margin: 5px;
    width: 20%;
  }

  .program-partion:hover {
    border: solid white 3px;
  }

  .partion-img {
    align-self: center;
    padding-top: 9%;
  }

  .partion-heading {
    color: #ec5242;
    text-align: center;
    padding-top: 7%;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 16px;
  }

  .partion-text {
    color: white;
    line-height: 20px;
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  .program-button {
    color: lightgray;
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    line-height: 25px;
  }

  .about-header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.2);
    background-image: url("./assets/images/background1.png");
    background-position: center;
    background-size: contain;
    padding-top: 4%;
  }

  .sub-about {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #ec5242;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .about-heading {
    font-family: "COCOGOOSE", sans-serif;
    font-size: 50px;
    color: #ec5242;
    margin-top: 0;
    padding-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    text-align: center;
  }

  .about-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-left: 3%;
    color: #272a31;
    border: solid 2px white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    text-align: center;
    background-color: white;
    margin: 5%;
    padding: 3%;
  }

  .booking {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
  }

  .booking-email {
    color: #272a31;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    padding-bottom: 50px;
  }

  .logo-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 28px;
    background-image: url("./assets/images/orange-line.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    text-align: center;
    color: #272a31;
  }

  .logo-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
  }

  .logo-link {
    width: 40%;
    text-align: center;
    border: solid 2px #d3d3d3;
    padding: 30px 15px;
    height: max-content;
  }

  .party-logo {
    height: 150px;
    width: 300px;
  }

  .previous-parties {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 2px solid #d3d3d3;
    padding-left: 5%;
    padding-right: 5%;
  }

  .previous-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 28px;
    background-image: url("./assets/images/orange-line.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    text-align: center;
    color: #272a31;
    margin-bottom: 5px;
  }

  .previous-text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #272a31;
    text-align: center;
    margin-top: 0;
  }

  .previous-photo {
    display: flex;
    gap: 5%;
    align-items: center;
  }

  .party-2019 {
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("./assets/images/party-2019.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 350px;
    min-height: 395px;
    margin: 0;
  }

  .party-2018 {
    font-size: 50px;
    text-align: center;
    color: white;
    background-image: url("./assets/images/party-2018.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 350px;
    min-height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: 0;
  }

  span {
    font-weight: 300;
    font-size: 30px;
  }

  .sponsors {
    background-color: rgba(39, 42, 49, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sponsors-title {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    color: white;
    border-bottom: #ec5242 solid 2px;
    padding: 10px;
  }

  .sponsors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    gap: 0;
    margin: 0;
  }

  .mazzika-logo {
    height: 150px;
    width: 150px;
  }

  .melody-logo {
    height: 100px;
    width: 100px;
  }

  .about-footer {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
  }

  .footer-text {
    font-size: 16px;
    color: #272a31;
    font-family: "Lato", sans-serif;
  }
}
